@model HealthcareAppointmentManager.UI.Models.Patient
@if (ViewBag.Message != null)
{
    <div class="alert alert-info">
        @ViewBag.Message
    </div>
}
<form asp-action="RegisterPatient" method="post">
    <div class="container mt-5">
        <h2>Register Patient</h2>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="PatientName" class="form-label"></label>
                    <input asp-for="PatientName" class="form-control" />
                    <span asp-validation-for="PatientName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Username" class="form-label"></label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ConfirmPassword" class="form-label"></label>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="Gender">Gender</label>
                    <div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Gender" id="Male" value="Male" asp-for="Gender">
                            <label class="form-check-label" for="Male">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="Gender" id="Female" value="Female" asp-for="Gender">
                            <label class="form-check-label" for="Female">Female</label>
                        </div>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="DateOfBirth" class="form-label"></label>
                    <input asp-for="DateOfBirth" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </div>
    </div>
</form>
